{% extends 'base.html.twig' %}

{% block title 'Agence lorem ipsum' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Agence lorem ipsum</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto culpa dolore dolores eius, esse,
            officiis porro quod rerum, sapiente sint tenetur. Asperiores commodi ex explicabo porro possimus sunt
            voluptate?
        </p>
    </div>
    <div class="container">
    </div>
{% endblock %}