{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}

{% block body %}
     <div class="container mt-4">
         <h1 class="text-center">Voir tous nos biens</h1>
     </div>
{% endblock %}